.hero{
    width: 100vw;
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroImage{
    width: 100vw;
    max-width: 1200px;
    position: absolute;
    height: 100%;
    margin: auto auto;
    left: 0px;
    right: 0px;
    opacity: .6!important;
}

.heroWrapper{
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.h1{
    position: relative;
    z-index: 2;
    text-align: center;
}

.heroText{
    text-align: center;
}

.button{
    all: unset;
    background-color: white;
    padding: 20px 85px;
    z-index: 2;
}

.button > * {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}